{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

    <div class="container">
        
        <h1>Inscrit toi ici <a href="{{ url('user_registration') }}">cliquer ici</a></h1>
        <h1>Connecte toi ici <a href="{{ url('app_login') }}">cliquer ici</a></h1>

    </div>

{% endblock %}
