{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

<div class="container">
<h1>Inscrit toi </h1>
    <div>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button class="btn btn-primary" type="submit">Register!</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
